!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title What's The Word
    link(rel='stylesheet', href='/css/jquery.mobile-1.2.0.min.css')
    link(rel='stylesheet', href='/css/my.css')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.mobile-1.2.0.min.js')
    script(src='/js/jquery.nestable.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/my.js')
    script
        var App = {};
        //var server = 'http://weword.herokuapp.com:80';
        var server = 'http://192.168.0.2:5000'

        update_board = function(name, trial) {
            $('#board').prepend($('<div class="dd dd-handle">').html('<span></span> &nbsp;<span style="color:orange"></span> says : <span style="color:red"></span>'));
            $('#board span').eq(0).html('Stage ' + App['stage']);
            $('#board span').eq(1).html(name);
            $('#board span').eq(2).html(trial);

            if (trial == App['answer']) {
                $('#board span').eq(2).css('color','green');
            }

            var trials = $('#board div');
            for(var i=3; i< trials.length; i++) {
                trials.eq(i).remove();
            }
        }
        show_message = function(type) {
            $('.message').css('top', '-78px');
            $('.' + type).animate({top:"0"}, 500);
            setTimeout(function() {$('.' + type).animate({top: "-78"}, 500);}, 2000);
        }
        get_quiz = function() {
            $.getJSON(server + '/quiz?callback=?', null, function(data){
                if (data.quiz) { 
                    App['stage'] = data.stage;
                    App['answer'] = data.quiz.toUpperCase();
                    $('#stage').html('Stage ' + data.stage);
                    image = $('#quiz_pic');
                    image.fadeOut('fast', function () {
                        image.attr('src', server + '/images/quiz/'+data.quiz+'.jpg');
                        image.fadeIn('slow');
                    });

                    $('#answer span').remove();
                    for (var i=0; i < data.quiz.length; i++) {
                        $('#answer').append($('<span style="display: inline-block; width:30px; height:30px; background:white; margin-right:10px; font-size:x-large">').html('_'));
                    }
                } else {
                    var image;
                    $('#stage').html('Stage Completed');
                    image = $('#quiz_pic');
                    image.fadeOut('fast', function () {
                        image.attr('src', server + '/images/end.jpg');
                        image.fadeIn('slow');
                    });
                    $('#alphabets span').css('background', 'gray');
                    $('#alphabets span').off('click');
                }
            });
        }
        $(function(){
            get_quiz();
        });
  body
    #page1(data-role='page')
      div(data-theme='a', data-role='header')
        h5#stage
          | Stage   
      div(style="background-image: url(/images/word_wall.jpg); border: 1px solid black;")
          div(data-role='content', style="height:430px")
            .split-wrapper
              .content-secondary(style='text-align:center;margin-top:15px')
                img#quiz_pic(style="width:400px; height:400px")
              .content-primary
                ul(data-role='listview', data-divider-theme='a', data-inset='true')
                    li(data-role='list-divider', role='heading')
                     | Ranking
                    li.ui-li.ui-li-static.ui-btn-up-c.ui-li-has-thumb(data-theme='a')#ranking0
                       img.ui-li-thumb(src='/images/1st.jpg', alt='Thumbnail')
                       h3.ui-li-heading Waiting
                       h5.ui-li-heading 맞춘 문제 : 
                         span 0
                    li.ui-li.ui-li-static.ui-btn-up-c.ui-li-has-thumb(data-theme='a')#ranking1
                       img.ui-li-thumb(src='/images/2nd.jpg', alt='Thumbnail')
                       h3.ui-li-heading Waiting
                       h5.ui-li-heading 맞춘 문제 : 
                         span 0
                    li.ui-li.ui-li-static.ui-btn-up-c.ui-li-has-thumb(data-theme='a')#ranking2
                       img.ui-li-thumb(src='/images/3rd.jpg', alt='Thumbnail')
                       h3.ui-li-heading Waiting
                       h5.ui-li-heading 맞춘 문제 : 
                         span 0
                #board
          #answer(style="text-align:center;margin-top:50px;margin-bottom:33px")
      div(data-theme='a', data-role='footer', data-position='fixed')
        h2
          p(style="text-decoration:underline;color:orange;") CODE: #{code}
          p Powered by Realtime Relay Server (a.k.a Vu:Talk )
      div.info.message(style="top: -78px;")
        h3
          span(style="color:orange")
            | James 
          |  solve this quiz.
        p
          | Let's move on to the next problem in 2 seconds.
